@{
    ViewBag.Title = "Join Me";
}

@if (@User.Identity.IsAuthenticated)
{    
    @Html.Partial("_MenuAfterLogin")
}
else
{
    @Html.Partial("_MenuBeforeLogin")
}
<div class="container mainContainer" data-ng-view></div><!-- The SPA Views go here -->


@section scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="signalr/hubs"></script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/joinme")
    <script type="text/javascript">
        $(function() {
            var isUserLoged = '@User.Identity.IsAuthenticated';

            if (isUserLoged !== 'False') {
                var userSerivce = angular.element(document.body).injector().get('userService');
                userSerivce.isLogged = true;
                userSerivce.username = '@Html.ViewContext.HttpContext.User.Identity.Name';
                userSerivce.id = '@ViewBag.Id';
                userSerivce.dob = '@ViewBag.DOB';
                userSerivce.city = '@ViewBag.City';
                userSerivce.nickName = '@ViewBag.NickName';
                userSerivce.createdDate = '@ViewBag.CreatedDate';
                userSerivce.aboutMe = '@ViewBag.AboutMe';     
                userSerivce.userImage = '@ViewBag.UserImage';     
            }
            
            angular.element(document.body).injector().get('docTitleService');
        });

    </script>
}


